@inherits LayoutComponentBase

<PageTitle>@Constants.AppName</PageTitle>

<div class="page">
    <div class="sidebar">
        <NavMenu/>
    </div>

    <main>
        <article class="content px-4">
            @Body
            <p class="text-muted small">Versie: @Constants.Version</p>
        </article>
    </main>
</div>