@page "/"

<h1>SwimRankings Comparer</h1>
<p>Todo:</p>
<ul>
    <li>Layout</li>
    <li>Meertaligheid</li>
    <li>Filters in overzicht onthouden</li>
    <li>Uitgebreider filteren (leeftijd, geslacht)</li>
    <li>Historie</li>
    <li>Homepage</li>
</ul>