@attribute [Authorize(Policy = "EmailPolicy")]
@page "/"

<h1>SwimRankings Comparer</h1>
<p>Todo:</p>
<ul>
    <li>Layout</li>
    <li>Meertaligheid</li>
    <li>Filters in overzicht onthouden</li>
    <li>Uitgebreider filteren (leeftijd, geslacht)</li>
    <li>Kolommen weglaten in overzicht</li>
    <li>Sorteren in overzicht</li>
    <li>Historie weergeven in grafieken</li>
    <li>Homepage</li>
    <li>Versienummer</li>
    <li>Trainingen per zwemmer</li>
    <li>Authenticatie</li>
    <li>Copyright</li>
</ul>