@page "/overview"
@using SwimrankingsComparer.Application.Models
@using SwimrankingsComparer.Application.Services
@inject SwimmerService Service

<PageTitle>@Constants.AppName - Zwemmersoverzicht</PageTitle>

<h1>Overzicht</h1>
<div class="row mb-3">
    @if (_swimmers == null)
    {
        @:Bezig met laden...
    }
    else if (!_swimmers.Any())
    {
        @:Er staan nog geen zwemmers in het systeem.
    }
    else
    {
        <table class="table table-bordered table-striped">
            @foreach (var swimmer in _swimmers)
            {
                <tr>
                    <td>@swimmer.LastName</td>
                    <td>@swimmer.FirstName</td>
                    <td>@swimmer.YearOfBirth</td>
                </tr>
            }
        </table>
    }
</div>

@code {
    private readonly SwimmerService _swimmerService;
    private IEnumerable<Swimmer>? _swimmers;

    protected override async Task OnInitializedAsync()
    {
        _swimmers = await Service.GetAllSwimmersAsync();
    }
}